@import "styles.css";

.seperator {
    position: relative;
    height: 40px;
    display: flex;
    align-items: center;
}

.seperator > h1 {
    font-size: 24px;
    color: var(--dark-gray);
}

.seperator > .create-thread-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 24px;
    border: solid 1px var(--dark-gray);
    background-color: white;
    font-size: 16px;
    transition: all 75ms ease-in-out;
}

.seperator > .create-thread-button:hover {
    cursor: pointer;
    filter: brightness(90%);
}

.seperator > .create-thread-button:active {
    filter: brightness(80%);
}

.seperator > .create-thread-button > img {
    margin-right: 6px;
}

.active-user {
    margin-top: 0;
    color: var(--gray);
    font-weight: 400;
    font-size: 18px;
}

.line {
    flex-grow: 1;
    height: 1px;
    margin: 0 10px;
    background-color: var(--medium-light-gray);
}

.thread-browser {
    user-select: none;
    display: flex;
    margin-top: 10px;
    height: 400px;
}

.thread-browser > .group {
    min-width: 150px;
}

.thread-browser > .category  {
    min-width: 225px;
}

.thread-browser > .thread {
    flex-grow: 1;
}

.thread-browser > .thread > li {
    padding: 0;
    height: 45px !important;
    border: none;
    border-top: solid 1px var(--medium-light-gray);
}

.thread-browser > .thread  > li > .badge {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 65px;
    color: var(--gray);
    font-size: 16px;
}

.thread-browser > .thread > li > .title {
    color: var(--accent-blue);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.thread-browser > .thread > li > .title:hover {
    cursor: pointer;
    filter: brightness(75%);
}

.thread-browser > .thread > li > .title:active {
    filter:brightness(50%);
}

.thread-browser > .thread > li > .meta {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
}

.thread-browser > .thread > li > .meta div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.thread-browser > .thread > li > .meta img {
    height: 18px;
}

.thread-browser > .thread > li > .meta > .sub-meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    margin-right: 4px;
}

.thread-browser > .thread > li > .meta > .posts {
    width: 50px;
}

.thread-browser > .thread > li > .meta > .time {
    width: 125px;
}

.thread-browser > .thread > li:nth-of-type(2n + 1) {
    background-color: #f5eaea;
}

.thread-browser > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: scroll;
    scrollbar-width: none;
}

.thread-browser > ul::-webkit-scrollbar {
    display: none;
}

.thread-browser > ul > li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    padding-left: 10px;
    min-width: 0;
}

.thread-browser > .list > li {
    height: 35px;
    color: var(--light-gray);
    border-right: solid 1px var(--medium-light-gray);
    transition: all 75ms ease-in-out;
}

.thread-browser > .list > li > span {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-transform: uppercase;
}

.thread-browser > .list > li:hover {
    cursor: pointer;
    color: var(--dark-gray);
    border-right-color: var(--dark-gray);
}

.thread-browser > .list > li.active {
    color: var(--dark-gray);
    border-right-color: var(--accent-blue);
}

#content {
    display: flex;
    flex-direction: column;
}

#thread-header > div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 4px;
}

#thread-header > h1 {
    color: var(--dark-gray);
    font-size: 36px;
    margin-bottom: 6px;
}

#thread-header span {
    color: var(--light-gray);
    font-weight: 400;
    font-size: 16px;
}

#thread-header img {
    height: 20px;
}

.post-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    min-height: 350px;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.15);
}

.post-wrapper > .post-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 50px;
    background-color: var(--accent-turquoise);
}

.post-wrapper > .post-header > div {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.post-wrapper > .post-header span {
    font-size: 14px;
    color: var(--dark-gray);
}

.post-wrapper > .post-header img {
    height: 18px;
    margin-right: 4px;
}

.post-wrapper > .post-content {
    display: flex;
    min-height: 300px;
}

.post-wrapper > .post-content > .post-body {
    border-left: solid 1px var(--light-gray);
}

.post-wrapper > .post-content > .user-info {
    min-width: 200px;
}

.post-wrapper > .post-content > .user-info > .user-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 225px;
    border-bottom: solid 1px var(--light-gray);
}

.post-wrapper > .post-content > .user-info > .user-profile > img {
    margin-bottom: 24px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 1px 6px 8px -2px rgba(0,0,0,0.6);
}

.post-wrapper > .post-content > .user-info > .user-profile > .username {
    font-size: 20px;
    margin-bottom: 4px;
}

.post-wrapper > .post-content > .user-info > .user-profile > .status {
    font-size: 14px;
}

.post-wrapper > .post-content > .user-info > .user-data {
    display: flex;
    flex-direction: column;
    padding: 10px 10px;
}

.post-wrapper > .post-content > .user-info > .user-data > div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 2px;
}

.post-wrapper > .post-content > .user-info > .user-data img {
    height: 20px;
    margin-right: 4px;
}

.post-wrapper > .post-content > .user-info > .user-data span {
    color: var(--dark-gray);
    font-size: 16px;
}

.post-wrapper > .post-content > .user-info span {
    color: var(--gray);
}

.post-wrapper > .post-content > .post-body {
    padding: 12px;
}

.post-wrapper > .post-content > .post-body > p {
    margin: 0;
    padding: 0;
}

.post-wrapper > .post-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    height: 40px;
    border-top: solid 1px var(--light-gray);
    color: var(--dark-gray);
}

.post-wrapper > .post-footer div {
    display: flex;
    align-items: center;
}

.post-wrapper > .post-footer > .favorite > img {
    margin-right: 4px;
    height: 24px;
}

.post-wrapper > .post-footer > .post-buttons {
    border-left: solid 1px var(--light-gray);
}

.post-wrapper > .post-footer > .post-buttons > button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 6px;
    width: 25px;
    height: 20px;
    border: none;
    background-color: white;
}

.post-wrapper > .post-footer > .post-buttons > button:hover > img {
    cursor: pointer;
    filter: brightness(250%);
}

.post-wrapper > .post-footer > .post-buttons > button:active > img {
    filter: brightness(300%);
}

.post-wrapper > .post-footer > .post-buttons img {
    height: 22px;
}