@import "styles.css";

body {
    display: flex;
    justify-content: center;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    padding-bottom: 20px;
    margin: 16px;
    background-color: var(--very-light-gray);
    border: solid 2px var(--medium-light-gray);
    border-radius: 15px;
}

.mail-icon {
    margin: 0;
    height: 240px;
}

h1 {
    font-size: 26px;
    color: var(--dark-gray);
}

.logo > img {
    height: 36px;
}